.mentor-block
	background: #623B2A
	border-radius: 5px
	padding: 40px
	margin-bottom: 64px
	&__title
		font-weight: 600
		font-size: 22px
		line-height: 27px
		color: #fff
		margin-bottom: 22px
	&__desc
		color: #fff
		font-size: 16px
		line-height: 26px
		margin-bottom: 22px
		a
			color: #fff
