.mentor-block
	.mentor-block__title Клуб «Наставник»
	.mentor-block__desc В клубе опытные наставники помогут предпринимателям Камчатского края вывести бизнес на новый уровень. 
		a(href="#") Подробнее
	a.mentor-block__btn.btn(href="#") Оставить заявку
